@import "colors";
@import "rem";
@import "fonts";
@import "media-queries";

.dom-btn {
    color: $white;
    font-family: $fontBold;
    font-size: size(12);
    letter-spacing: size(1);
    text-transform: uppercase;
    text-align: center;
    border: none;
    outline: none;
    background-color: $accent;

    padding: 8px 22px;
    border-radius: 50px;

    transition: background-color 0.2s;

    &:hover {
        background-color: $accentLight;
    }

    @include media-min($breakpoint-md) {
        font-size: size(14);
    }
    @include media-min($breakpoint-lg) {
        font-size: size(16);
    }
}

.dom-btn-absolute,
.dom-btn-fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    width: 100%;
    z-index: 2;
    font-size: size(28);
    padding: 10px;
}
.dom-btn-absolute {
    position: absolute;
}

.dom-btn-fixed--left {
    background-color: $accentDark;
    width: 50%;
    left: 0;
}
.dom-btn-fixed--right {
    width: 50%;
    left: 50%;
}

.spotify-button {
    background-color: $spotify;

    &:hover {
        background-color: $spotifyHover;
    }
}
