@import "../styles/colors";
@import "../styles/variables";
@import "../styles/text";

.stm-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    overflow: hidden;
}

.stm-popup__modal {
    position: relative;
    text-align: center;
    background: $white;
    color: $primary-color;
    padding: $padding;
    padding-bottom: 60px;
}

.stm-popup__step {
    text-align: center;
    margin-bottom: size(24);
}

.stm-popup__icon {
    color: $accent;
    background-color: $primary-color;
    width: size(50);
    height: size(50);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: size(10);
}

.stm-popup__title {
    background-color: $accent;
    margin: -20px;
    margin-bottom: 25px;
    padding: 10px;
    font-family: $fontBold;
    color: $white;
}
