@import '../styles/text.scss';
@import '../styles/buttons.scss';


.position-imprint-start {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.imprint-button {
    background-color: transparent;
    border: none;
    outline: none;
    color: $accent;

    &:hover {
        text-decoration: underline;
    }
}