@import '../../styles/colors';
@import '../../styles/rem';
@import '../../styles/fonts';
@import '../../styles/general';

.stm-player__title {
    color: $accent;
}


.stm-player__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.stm-player__listItem {
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: $accent;
    }

}

.stm-player__listItemImage {
    margin-right: 15px;
}

.stm-player__listItemContent {
    position: relative;
    flex-grow: 1;
}

.stm-player__itemContentBottom {
    text-transform: uppercase;
    color: $grey;
    font-size: size(12)
}

.stm-player__check {
    position: absolute;
    right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid $white;
}
.stm-player__check--active {
    background-color: $accent;
}
