
.stm-player__playlists {
    color: rgba(0, 0, 0, 0.8);
}

.stm-player__playlists ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.stm-player__listItem {
    border-bottom: 1px solid white;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: #DCDCDC;
    padding: 10px 25px;
    margin: 3px 0;
}

.stm-player__listItem img {
    border-radius: 5px;
}

.stm-player__listItem:hover {
    background: rgba(255, 255, 255, 0.2);
}

.stm-palyer__listItem--inactive {
    background: white;
}
