body {
    background-color: #FFFFFF;
    color: #282c34;
}

/* TEXT */
.stm-h1 {
    margin: 0;
    font-size: 22px;
    text-transform: uppercase;
}

.stm-text {
    font-size: 16px;
    margin: 20px 0;
}

.stm-info_text {
    font-size: 12px;
    color: grey;
    margin: 10px 0;
}

.stm-info_link {
    color: #41295a;
}

.stm-info_link:hover {
    color: #41295a;
}


/* BUTTONS */

.stm-btn {
    display: inline-block;
    border-radius: 650px;
    padding: 10px 26px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 10px 0;
    color: white;

    background: #41295a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.stm-btn--inverted {
    background: #FFFFFF;
    color: #2F0743;
}

.stm-btn--large {
    padding: 19px 56px 21px;
}

.stm-btn--small {
    padding: 5px 12px;
}

.stm-btn--fullWidth {
    display: block;
}


/* START */
.stm-start {
    width: 100%;
    height: 100vh;
}

.stm-start__intro {
    width: 400px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* HEADER */
.stm-header {
    background: #41295a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFFFFF;
    padding: 10px 0;
}

.stm-header__content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MESSAGES */
.stm-message {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

.stm-message--success {
    background-color: green;
    color: black;
}

.stm-message--warning {
    background-color: yellow;
    color: black;
}

.stm-message--error {
    background-color: red;
    color: white;
}

.stm-message__content {
    max-width: 1200px;
    margin: 0 auto;
}

/* APP */


/* PLAYLIST TABLE*/
.stm-playlist {
    font-size: 12px;
    text-align: left;
}

.stm-playlist td,
.stm-playlist th {
    width: 50%;
}

/* SAVE THE MIX */
.stm-stm {
    margin: 20px 0;
    text-align: center;
}

/* PLAYER */
.stm-player {
    max-height: 650px;
}

.stm-player__info {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stm-player__playlists {
    background: #2F0743;
}

.stm-player__currentPlaylist {
    background: #41295a;
}

.stm-player__playlists,
.stm-player__currentPlaylist {
    color: #FFFFFF;
}

.stm-player__playlists ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.stm-player__playlists ul li {
    padding: 10px;
    border-bottom: 1px solid white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}


.stm-active {
    background-color: rgba(255, 255, 255, 0.2);
}


.stm-player__track:hover,
.stm-player__playlists ul li:hover {
    background: rgba(255, 255, 255, 0.2);
}

.stm-player__track {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 10px;
    padding-right: 15px;
    transition: background-color 0.2s;
}


.stm-player__song {
    font-weight: bold;
    font-size: 14px;
}

.stm-player__artist {
    font-size: 12px;
}

.stm_player__title {
    padding: 5px 0;
}

.stm-player__scroll {
    max-height: 650px;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: yellowgreen;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: yellow;
}

.stm-progress-bar {
    margin: 15px 0;
}

/* POPUP */

.stm-popup__modal {
    padding: 50px 20px 20px 20px;
    position: absolute;
    background-color: white;
    z-index: 2;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stm-popup__wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.stm-popup__step {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.stm-popup__number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #2F0743;
    background-color: #2F0743;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: yellowgreen;
}

.stm-player__progress {
    background: yellowgreen;
    color: black;
    padding: 5px;
}
