body {
    background-color: #FFFFFF;
    color: #282c34;
}

/* TEXT */
.stm-h1 {
    margin: 0;
}

.stm-text {
    font-size: 16px;
    margin: 20px 0;
}

.stm-info_text {
    font-size: 12px;
    color: grey;
    margin: 10px 0;
}

.stm-info_link {
    color: #41295a;
}


/* BUTTONS */

.stm-btn {
    display: inline-block;
    border-radius: 500px;
    padding: 10px 26px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 10px 0;
    color: white;

    background: #41295a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.stm-btn--large {
    padding: 19px 56px 21px;
}

.stm-btn--fullWidth {
    display: block;
}

.btn--spotify:hover {
    background-color: #1ED760;
}

/* START */
.stm-start {
    width: 100%;
    height: 100vh;
}

.stm-start__intro {
    width: 400px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* HEADER */
.stm-header {
    background: #41295a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFFFFF;
    padding: 10px 0;
}

.stm-header__content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MESSAGES */
.stm-message {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

.stm-message--success {
    background-color: green;
    color: black;
}

.stm-message--warning {
    background-color: yellow;
    color: black;
}

.stm-message--error {
    background-color: red;
    color: white;
}

.stm-message__content {
    max-width: 1200px;
    margin: 0 auto;
}

/* APP */


/* PLAYLIST TABLE*/
.stm-playlist {
    font-size: 12px;
    text-align: left;
}

.stm-playlist td,
.stm-playlist th {
    width: 50%;
}

/* SAVE THE MIX */
.stm-stm {
    margin: 20px 0;
    text-align: center;
}

/* PLAYER */
.stm-player {
}

.stm-player__info {
    text-align: center;
}

.stm-player__playlists {
    background: lightgrey;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.stm-player__playlists ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.stm-player__playlists ul li {
    padding: 10px 0;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.stm-player__currentPlaylist {
    background-color: lightgrey;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.stm-player__track {
    border-bottom: 1px solid grey;
    padding: 6px 0;
}

.stm-player__song {
    font-weight: bold;
    font-size: 18px;
}

.stm-player__artist {
    font-size: 14px;
}
