@import "./styles/colors";
@import "./styles/fonts";


body {
    font-family: $fontRegular, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $primary-color; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, $secondary-color, $primary-color); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, $secondary-color, $primary-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFFFFF;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
